html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
em, img, q, s,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
    position: relative;
    height: 100vh;
    /* overflow: hidden; */
    font: 16px "Nanum Gothic","맑은 고딕","Malgun Gothic",sans-serif;
    color: #333;
    letter-spacing: -1px;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption{display:none;}
button, [type="button"], [type="reset"], [type="submit"]{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
input:focus{
    border: none;
    -moz-box-shadow:2px 2px 5px #aaaaaa;
    -webkit-box-shadow:2px 2px 5px #aaaaaa;
    box-shadow:2px 2px 5px #aaaaaa;
}
a{
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    color: #353535;
    box-sizing: border-box;
}
span{
    display: inline-block;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

